# APP
SERVER_HOST="localhost"
APP_NAME="quiz_code_camp_api"
APP_PORT=8080
API_PREFIX="api"
API_VERSION="v1"

# CLIENT
CLIENT_DOMAIN="localhost:5173"


# DATABASE
DATABASE_URL="mongodb://mongo:27017"
DATABASE_NAME="quiz_code_camp_api"
DATABASE_USERNAME="mongoguy"
DATABASE_PASSWORD="mongodb"